<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.manager.manager.mapper.DailySalesMapper">
    <sql id="columns">
        id id , id id2 , worker_id workerId , worker_name workerName , sale_amount saleAmount, profile profile ,
        record_date recordDate , create_time createTime , update_time updateTime, client_name clientName, is_new_client isNewClient, remark remark
    </sql>

    <select id="queryDailySales" resultType="com.manager.manager.domain.DailySales">
        select <include refid="columns"/> from daily_sales where worker_id = #{workerId};
    </select>

    <update id="mergeDailySales" parameterType="com.manager.manager.domain.DailySales">
        replace into daily_sales(id , worker_id , worker_name  , sale_amount , profile, record_date , create_time , update_time, client_name, is_new_client, remark)
        values(#{id} , #{workerId} , #{workerName} , #{saleAmount} , #{profile}, #{recordDate} , #{createTime} , #{updateTime}, #{clientName}, #{isNewClient}, #{remark});
    </update>
    <sql id="queryDailySalePageSql">
        1=1
        <if test="workerName != null">
            and worker_name = #{workerName}
        </if>
        <if test="startTime!=null">
            <![CDATA[ and record_date >=  #{startTime} ]]>
        </if>
        <if test="endTime!=null">
            <![CDATA[ and record_date <= #{endTime} ]]>
        </if>

    </sql>
    <select id="queryDailySalePage" resultType="com.manager.manager.domain.DailySales">
        select <include refid="columns"/> from daily_sales where
        <include refid="queryDailySalePageSql"></include>
        <if test="startRow != null and perPage != null">
            limit #{startRow}, #{perPage}
        </if>;
    </select>
    <select id="queryDailySalePageCount" resultType="java.lang.Integer" parameterType="com.manager.manager.dto.DailySaleDto">
        select count(*) from daily_sales where
        <include refid="queryDailySalePageSql"></include>
    </select>

    <insert id="insertDailySale" parameterType="com.manager.manager.domain.DailySales">
        insert into daily_sales (
        worker_id , worker_name  , sale_amount , profile, record_date , create_time , update_time, client_name, is_new_client, remark
        ) values (
        #{workerId} , #{workerName}, #{saleAmount} , #{profile}, #{recordDate} , #{createTime} , #{updateTime}, #{clientName}, #{isNewClient}, #{remark}
        );
    </insert>

    <update id="updateDailySale" parameterType="com.manager.manager.domain.DailySales">
        update daily_sales set
        worker_id = #{workerId} , worker_name = #{workerName} , sale_amount = #{saleAmount} , profile = #{profile} ,
        record_date = #{recordDate} , create_time = #{createTime} , update_time = #{updateTime} , client_name = #{clientName},
        is_new_client = #{isNewClient} , remark = #{remark}
        where id = #{id};
    </update>
    <select id="queryDailySaleById" resultType="com.manager.manager.domain.DailySales" parameterType="java.lang.Integer">
        select <include refid="columns"/> from daily_sales where id = #{id}
    </select>
    <sql id="dataSql">
        <where>
            <if test="startTime!=null">
                <![CDATA[ and record_date >=  #{startTime} ]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[ and record_date <= #{endTime} ]]>
            </if>
            <if test="workerName!=null and workerName!=''">
                and worker_name = #{workerName}
            </if>
        </where>
    </sql>
    <select id="queryPersonalData" resultType="com.manager.manager.domain.DailySales" parameterType="com.manager.manager.dto.ShowViewDto">
        select worker_id workerId,worker_name workerName,SUM(`profile`) profile,SUM(`sale_amount`) saleAmount
        from daily_sales
        <include refid="dataSql"></include>
        GROUP BY worker_id order by SUM(`profile`) desc;
    </select>

    <select id="queryByDate" resultType="com.manager.manager.domain.DailySales" parameterType="com.manager.manager.dto.ShowViewDto">
        select DATE_FORMAT(record_date, '%Y-%m-%d') recordDate,SUM(`profile`) profile from daily_sales
        <include refid="dataSql"></include>
        GROUP BY DATE_FORMAT(record_date, '%Y-%m-%d');
    </select>

</mapper>