<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.manager.manager.mapper.ErrCommentInfoMapper">
<!--    <sql id="columns">-->
<!--        id id , comment_id commentId , student_id studentId , err_book_id errBookId , err_question_id errQuestionId ,-->
<!--        err_subject_id errSubjectId , teacher_id teacherId , comment_text commentText , comment_img commentImg ,-->
<!--        comment_video commentVideo , comment_type commentType , create_time createTime , update_time updateTime ,-->
<!--        read_state readState , delete_state deleteState-->
<!--    </sql>-->

<!--    <select id="queryCommentInfoListByErrBookId" resultType="com.xes.cloudlearn.ips.errbook.domain.ErrCommentInfo">-->
<!--        select <include refid="columns"/> from err_comment_info where student_id = #{studentId} and delete_state = 0-->
<!--        and comment_type = 0 and err_book_id in-->
<!--        <foreach collection="errorBookIds" item="id" open="(" close=")" separator=",">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </select>-->

</mapper>