<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.manager.manager.mapper.WorkerMapper">
    <sql id="columns">
        id id , real_name realName , sys_name sysName , password password , wx_card wxCard , sex sex , age age , work_age workAge , city_code cityCode ,
        city_name cityName , create_time createTime , update_time updateTime , delete_flag deleteFlag
    </sql>

    <select id="queryWorkerList" resultType="com.manager.manager.domain.Worker">
        select <include refid="columns"/> from worker where
        <if test="id != null">
            id = #{id} and
        </if>
        <if test="cityCode != null">
            city_code = #{cityCode} and
        </if>
        <if test="sysName != null">
            <bind name="sysNameLike" value="'%' + sysName + '%'" />
            sys_name like #{sysNameLike} and
        </if>
         delete_flag = 0
        <if test="startNo != null and pageSize != null">
            limit #{startNo}, #{pageSize}
        </if>;
    </select>

    <select id="queryWorkerBySysName" resultType="com.manager.manager.domain.Worker">
        select <include refid="columns"/> from worker where
        <if test="sysName != null">
            sys_name = #{sysName} and
        </if>
        delete_flag = 0;
    </select>

    <select id="queryWorkerByWX" resultType="com.manager.manager.domain.Worker">
        select <include refid="columns"/> from worker where wx_card = #{wxCard} and delete_flag = 0;
    </select>

    <insert id="insertWorker" parameterType="com.manager.manager.domain.Worker">
        insert into worker (
        real_name , sys_name , password , wx_card , sex , age , work_age , city_code , city_name , create_time , update_time , delete_flag
        ) values (
        #{realName} , #{sysName} , #{password} , #{wxCard} , #{sex} , #{age} , #{workAge} , #{cityCode} , #{cityName} , #{createTime} , #{updateTime} , #{deleteFlag}
        );
    </insert>

    <update id="updateWorker" parameterType="com.manager.manager.domain.Worker">
        update worker set
        real_name = #{realName} , sys_name = #{sysName} , password = #{password} , wx_card = #{wxCard} , sex = #{sex} , age = #{age} ,
        work_age = #{workAge} , city_code = #{cityCode} , city_name = #{cityName} , update_time = #{updateTime} , delete_flag = #{deleteFlag}
        where id = #{id};
    </update>

    <update id="delWorker">
        update worker set delete_flag = 1 where id = #{id}
    </update>
    <select id="queryWorkerById" resultType="com.manager.manager.domain.Worker" parameterType="java.lang.Integer">
        select <include refid="columns"/> from worker where id = #{id}
    </select>
    <sql id="queryWorkerPageSql">
        <if test="id != null">
            id = #{id} and
        </if>
        <if test="cityCode != null">
            city_code = #{cityCode} and
        </if>
        <if test="sysName != null">
            <bind name="sysNameLike" value="'%' + sysName + '%'" />
            sys_name like #{sysNameLike} and
        </if>
        <if test="realName != null">
            real_name = #{realName} and
        </if>
        delete_flag = 0
    </sql>
    <select id="queryWorkerPage" resultType="com.manager.manager.domain.Worker">
        select <include refid="columns"/> from worker where
        <include refid="queryWorkerPageSql"></include>
        <if test="startRow != null and perPage != null">
            limit #{startRow}, #{perPage}
        </if>;
    </select>
    <select id="queryWorkerPageCount" resultType="java.lang.Integer" parameterType="com.manager.manager.dto.WorkerDto">
        select count(*) from worker where
        <include refid="queryWorkerPageSql"></include>
    </select>
</mapper>